[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".other/fonts"]
	path = .other/fonts
	url = https://github.com/powerline/fonts.git
